.delist-card{
    border: 1px solid #000;
}

.delist-card a{
    display: flex;
    justify-content: space-around;
}

.delist-card .delist-img{
    background: url(../asset/image/pexels-can-i-gdeli-624966221-30748532.jpg) no-repeat center center / cover;
    width: 50px;
    height: 50px;
}

.delist-text{
    display: flex;
}