@charset "utf-8";

/* mypage.css */
.page-header {
    margin: 30px 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header .title {
    text-align: center;
}

.page-header a {
    color: var(--black);
}

.page-header .icon {
    display: block;
    font-size: 24px;
}

/* 내 정보 섹션 */
.myinfo {
    padding: 60px 32px 40px;
    background-color: var(--white);
    border-radius: 12px;
}

.myprofile {
    padding: 0 32px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.myprofile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.profileWrap {
    flex-grow: 1;
}

.profileWrap dl {
    margin: 0 0 8px 0;
}

.profileWrap .title {
    margin: 0;
}

.follow {
    display: flex;
}

.follow dl {
    margin-right: 16px;
    display: flex;
    align-items: center;
}

.follow dt {
    color: var(--text-grey);
    margin-right: 8px;
}

.myinfo-btn {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
}

.myinfo-btn a {
    display: block;
    width: 140px;
    padding: 15px 0;
    border: 1px solid var(--primary);
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    color: var(--text-grey);
}

/* 나의 메뉴 섹션 */
.mymenu {
    position:relative;
    padding-bottom: 40px;
    background-color: var(--white);
}

.mymenu::after {
    position:absolute;
    bottom:0;
    left:0;
    content: '';
    height: 6px;
    width: 100%;
    background-color: var(--background-grey);
}

.mymenuWrap {
    margin: 0 25px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 44px;
}

.mymenuWrap li {
    text-align: center;
}

.mymenuWrap a {
    padding-top: 45px;
    display: block;
    width: 50px;
    color: var(--black);
    text-align: center;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 40px;
}

.mymenuWrap li:nth-child(1) a{
    background-image: url(../image/myreservation.png);
}

.mymenuWrap li:nth-child(2) a {
    background-position-x: 11px;
    background-image: url(../image/myreview.png);
    background-size: 35px;
}

.mymenuWrap li:nth-child(3) a{
    background-position-y: 3px;
    background-image: url(../image/mylike.png);
    background-size: 35px;
}

/* 최근활동 섹션 */
.activities {
    margin: 30px 25px 0;
    background-color: var(--white);
    border-radius: 12px;
    position: relative;
}

.activitiesWrap {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.activitiesContent {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activities p {
}

.activities p span {
    color: var(--text-grey);
}

/* Active navigation styling */
#gnb ul li a.mypage {
    background-image: url(../image/mypage.png);
}