<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>프로필 수정</h1>
        <a href="#">뒤로가기</a>

        <nav>
            <h2>주 메뉴</h2>
            <ul>
                <li><a href="#">홈</a></li>
                <li><a href="#">검색</a></li>
                <li><a href="#">찜한 맛집</a></li>
                <li><a href="#">예약내역</a></li>
                <li><a href="#">마이페이지</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>프로필 수정 영역</h2>
            <form action="#" method="POST">
                <label for="nickname">닉네임</label>
                <input type="text" id="nickname" name="nickname" required>
                <label for="profile_image">프로필 이미지</label>
                <input type="file" id="profile_image" name="profile_image">
                <label for="description">내 소개</label>
                <textarea id="description" name="description" required></textarea>
                
                <button type="submit">저장하기</button>
            </form>
        </section>
    </main>
    
</body>
</html>