<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약내역</title>
</head>
<body>
    <header>
        <h1>예약 내역</h1>
        <a href="#">뒤로가기</a>

        <nav>
            <h2>주 메뉴</h2>
            <ul>
                <li><a href="#">홈</a></li>
                <li><a href="#">검색</a></li>
                <li><a href="#">찜한 맛집</a></li>
                <li><a href="#">예약내역</a></li>
                <li><a href="#">마이페이지</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
            <h2>예약 및  방문기록</h2>
            <!-- 각각 클릭시 정보만 바뀌게 작성 ui동일하기 떄문 -->
            <ul>
                <li>
                    <p>나의예약</p>
                </li>
                <li>
                    <p>방문기록</p>
                </li>
            </ul>
            <!-- 총 갯수 span태그에 총 몇건인지 데이터 표기 -->
            <p>총 <span>8</span>건</p>
            
            <!-- option에 더 넣을 내용있으면 바로 추가하겠음 -->
            <select name="#" id="#">
                <option value="">방문일자</option>
            </select>

            <!-- 예약 카드 영역 -->
            <div>
                <P>제주고씨 든렙지 레스토랑</P>
                <P>예약확정</P>
                <P>총 <span>1</span>회 방문</P>
                <P>매장의 위치 정보</P>
                <p>2025.0.-15 14:00 2명</p>

                <a href="#">매장 자세히 보기</a>
            </div>

        </section>
        
    </main>
</body>
</html>