<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이용 내역 상세</title>
</head>
<body>
    <header>
        <h1>store title</h1>
        <a href="#">back</a>
    </header>
    <main>
        <section>
            <h2>예약정보</h2>
            <dl>
                <dt>예약일시</dt>
                <dd>예약일자 나타나는 영역</dd>
                <dt>예약자</dt>
                <dd>예약자 이름 나타나는 영역</dd>
                <dt>예약인원</dt>
                <dd>101명</dd>
                <dt>요청사항</dt>
                <dd>비건세트에서 채소 빼고 주세요</dd>
            </dl>
        </section>
        <section>
            <h2>오시는 길</h2>
            <div>
                <!-- 지도 나오는 영역 -->
            </div>
            <p>가게의 위치가 나오는 영영</p><span>복사</span>
            <p>길안내 정보</p>
        </section>
        <section>
            <h2>픽업 정보</h2>
            <dl>
                <dt>차량 모델</dt>
                <dd>경운기 (차량번호)</dd>
            </dl>
            <dl>
                <dt>도착 예정</dt>
                <dd>오후 11:59</dd>
            </dl>
            <dl>
                <dt>연락처</dt>
                <dd>reservation_tel</dd>
            </dl>
        </section>
        <section>
            <h2>상세 정보</h2>
            <article>
                <h3>전화번호</h3>
                <p>tel. 012-123-1234</p>
            </article>
            <article>
                <h3>안내 및 유의사항</h3>
                <p>* 영업시간은 매장 사정에 따라 변경될 수 있습니다.</p>
            </article>
        </section>
        <section>
            <h2>환불정책</h2>
            <p>방문 1~3시간 전 취소 &rarr; 50% 환불</p>
            <p>방문 시간 당일 2시간 전 &rarr; 환불 불가</p>
            <p>* 단 기상님이 이동을 시작한 이후에는 일부 추가비용이 발생합니다.</p>
            <p>선결제 (앱 내 결제) &rarr; 결제 취소 후 카드사 경제 서비스 규정에 따라 3~5일 내 환불</p>
            <p>현장 결제 &rarr; 매장 자체 환불 규정에 따름 (DELIWAY 직접 환불 불가)</p>
            <p>포인트/쿠폰 사용 예약 &rarr; 포인트는 즉시 반환, 쿠폰은 복구 불가 할 수도 있음</p>
            <p>간편 결제 (카카오페이, 네이버페이 등) &rarr; 취소 후 1~2일 내 환불</p>
        </section>

        <div>
            <a href="#">예약 취소</a>
            <a href="#">예약 변경</a>    
        </div>
   </main>

   <!-- 예약완료 창 -->
   <div>
    <p>예약이 완료되었습니다!</p>
    <span>2025.02.22(토) · 18:00시</span>
    <span>2명</span>
    <p>예약자명 :</p><span>김엘리베이터</span>
   </div>
</body>
</html>