<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>맛집 상세 정보보</title>
  </head>
  <body>
    <header>
      <h1>매장 상세페이지</h1>
      <div>
        <h2>페이지 부가 기능</h2>
        <ul>
          <li><a href="#">뒤로가기</a></li>
          <li><a href="#">찜하기</a></li>
          <li><a href="#">페이지 공유하기</a></li>
        </ul>
      </div>
      
      <div>
        <!-- 매장 슬라이더 플러그인 -->
      </div>
    </header>
    <!-- 메인 시작 -->
    <main>
      <section>
        <h2>매장정보</h2>

        <div>
          <dl>
            <dt>평점</dt>
            <dd>4.5</dd>
            <dt>리뷰</dt>
            <dd>1,000</dd>
            <dt>드라이브 가능 여부</dt>
            <dd>drive up</dd>
          </dl>
        </div>

        <article>
          <h3>매장 이름</h3>
          <p>매장 소개</p>
          <!-- 매장 편의시설 안내 태그 -->
          <div>
            <p>단체 이용 가능</p>
            <p>아기의자</p>
            <p>주차가능</p>
          </div>
          <!-- 매장 부가 정보 -->
          <div>
            <dl>
              <dt>가는법</dt>
              <dd>1호선 중앙로역에서 400m</dd>
            </dl>
            <dl>
              <dt>영업시간</dt>
              <dd>오늘 (수) 10:00 - 21:30</dd>
            </dl>
            <dl>
              <dt>가격 안내</dt>
              <dd>점심, 저녁 동일가 2만원</dd>
            </dl>
          </div>
        </article>
      </section>

      <section>
        <!-- 메뉴에 대한 간략한 정보 -->
        <h2>메뉴</h2>
        <ul>
          <li>
            <a href="#">
              <dl>
                <dt>런치 다이닝 코스</dt>
                <dd>가게 이미지</dd>
                <dd>
                  어린이 손님에 한하여 예약시 50% 할인된 가격으로 즐기실 수
                  있습니다
                </dd>
                <dd>가격 1억</dd>
              </dl>
            </a>
          </li>
          <li>
            <a href="#">
              <dl>
                <dt>런치 다이닝 코스</dt>
                <dd>
                  어린이 손님에 한하여 예약시 50% 할인된 가격으로 즐기실 수
                  있습니다
                </dd>
                <dd>가격 1억</dd>
                <dd>메뉴 이미지</dd>
              </dl>
            </a>
          </li>
          <li>
            <a href="#">
              <dl>
                <dt>런치 다이닝 코스</dt>
                <dd>
                  어린이 손님에 한하여 예약시 50% 할인된 가격으로 즐기실 수
                  있습니다
                </dd>
                <dd>가격 1억</dd>
                <dd>메뉴 이미지</dd>
              </dl>
            </a>
          </li>
        </ul>
        <a href="#">메뉴 전체보기</a>
      </section>
      <section>
        <h2>매장 소식</h2>

        <ul>
          <li>
            <a href="#">
              <dl>
                <dt>안녕하세요 제목 입니다</dt>
                <dd>소식 일지</dd>
                <dd>내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.</dd>
              </dl>
            </a>
          </li>
          <li>
            <a href="#">
              <dl>
                <dt>안녕하세요 제목 입니다</dt>
                <dd>소식 일지</dd>
                <dd>내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.</dd>
              </dl>
            </a>
          </li>
          <li>
            <a href="#">
              <dl>
                <dt>안녕하세요 제목 입니다</dt>
                <!-- 물어보기 -->
                <dd>소식 일지</dd>
                <dd>내용입니다.내용입니다.내용입니다.내용입니다.내용입니다.</dd>
              </dl>
            </a>
          </li>
        </ul>
      </section>

      <section>
        <h2>방문자 리뷰</h2>
        <p>리뷰 작성자 수</p>
        <p>가게 평점</p>
        <div>
          <!-- 방문자 리뷰 항목화 -->
          <ul>
            <li>음식이 맞있어요 <span>512</span></li>
            <li>팁 안줘도 되니까 좋아요 <span>512</span></li>
            <li>분위기가 고급스러워요 <span>512</span></li>
            <li>직원들이 친절해요 <span>512</span></li>
            <li>인테리어가 멋져요 <span>512</span></li>
          </ul>
        </div>

        <article>
          <h3>리뷰 리스트</h3>
          <dl>
            <dt>김두한</dt>
            <dd>이미지</dd>
            <dd>리뷰 글입니다.</dd>
            <dd>좋아요 수</dd>
            <dd>리뷰에 대한 댓글</dd>
          </dl>
          <dl>
            <dt>김두한</dt>
            <dd>이미지</dd>
            <dd>리뷰 글입니다.</dd>
            <dd>좋아요 수</dd>
            <dd>리뷰에 대한 댓글</dd>
          </dl>
        </article>
        <a href="#">리뷰 더 보기</a>
      </section>
      <section>
        <h2>매장정보</h2>
        <article>
          <h3>오시는길</h3>
          <div>
            <div><!-- 지도 영역 --></div>
            <div>
              <p>
                가게의 위치정보를 받아옴<span><a href="#">주소복사</a></span>
              </p>
              <p>어디에서 324km</p>
              <p>어디에서 324km</p>
              <a href="#">길찾기</a>
            </div>
          </div>
        </article>
        <article>
          <h3>매장상세정보</h3>
          <dl>
            <dt>Tel.</dt>
            <dd>123-456-1234</dd>
          </dl>
          <div>
            <h4>안내 및 유의사항</h4>
            <dl>
              <dt>토 - 일요일 및 공휴일 운영시간 안내</dt>
              <dd>10:30 - 14:30</dd>
              <dd>브레이크 타임</dd>
              <dd>16:30 - 20:30</dd>
            </dl>

            <p>&#x2A; 영업시간은 매장 사정에 따라 변경될 수 있습니다.</p>
          </div>
        </article>
      </section>
      <div>
        <span><a href="#">전화기 아이콘</a></span>
        <span><a href="#">예약하기</a></span>
      </div>
    </main>
  </body>
</html>
